h1 {
  padding: 1vw;
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

p {
  padding: 1vw;
  padding-top: 0vw;
  font-size: 1.1rem;
  text-align: justify;
}

ion-row {
  font-size: 1.1rem;
  padding-top: 0.5 vw;
}

.contact {
  background-color: var(--ion-color-primary);
  padding-bottom: 15px;
}
