// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #c80a12;
  --ion-color-primary-rgb: 200, 10, 18;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #b00910;
  --ion-color-primary-tint: #ce232a;

  --ion-color-secondary: #ff9500;
  --ion-color-secondary-rgb: 255, 149, 0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e08300;
  --ion-color-secondary-tint: #ffa01a;

  --ion-color-tertiary: #ffd79e;
  --ion-color-tertiary-rgb: 255, 215, 158;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0bd8b;
  --ion-color-tertiary-tint: #ffdba8;

  --ion-color-success: #00aa60;
  --ion-color-success-rgb: 0, 170, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #009654;
  --ion-color-success-tint: #1ab370;

  --ion-color-warning: #00d6e9;
  --ion-color-warning-rgb: 0, 214, 233;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #00bccd;
  --ion-color-warning-tint: #1adaeb;

  --ion-color-danger: #2076e5;
  --ion-color-danger-rgb: 32, 118, 229;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #1c68ca;
  --ion-color-danger-tint: #3684e8;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ion-color-calendar {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);

  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #c80a12;
  --ion-text-color-rgb: 200, 10, 18;

  --ion-color-step-50: #fcf3f3;
  --ion-color-step-100: #fae7e7;
  --ion-color-step-150: #f7dadb;
  --ion-color-step-200: #f4ced0;
  --ion-color-step-250: #f1c2c4;
  --ion-color-step-300: #efb6b8;
  --ion-color-step-350: #eca9ac;
  --ion-color-step-400: #e99da0;
  --ion-color-step-450: #e69194;
  --ion-color-step-500: #e48589;
  --ion-color-step-550: #e1787d;
  --ion-color-step-600: #de6c71;
  --ion-color-step-650: #db6065;
  --ion-color-step-700: #d95459;
  --ion-color-step-750: #d6474d;
  --ion-color-step-800: #d33b41;
  --ion-color-step-850: #d02f36;
  --ion-color-step-900: #ce222a;
  --ion-color-step-950: #cb161e;
}

ion-datetime {
  --background: #fff1f2;
  --background-rgb: 255, 241, 242;
  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-primary-rgb), 0.3) 0px 10px 15px -3px;
}
@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #c80a12;
    --ion-color-primary-rgb: 200, 10, 18;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #b00910;
    --ion-color-primary-tint: #ce232a;

    --ion-color-secondary: #ff9500;
    --ion-color-secondary-rgb: 255, 149, 0;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #e08300;
    --ion-color-secondary-tint: #ffa01a;

    --ion-color-tertiary: #ffd79e;
    --ion-color-tertiary-rgb: 255, 215, 158;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e0bd8b;
    --ion-color-tertiary-tint: #ffdba8;

    --ion-color-success: #00aa60;
    --ion-color-success-rgb: 0, 170, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #009654;
    --ion-color-success-tint: #1ab370;

    --ion-color-warning: #00d6e9;
    --ion-color-warning-rgb: 0, 214, 233;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #00bccd;
    --ion-color-warning-tint: #1adaeb;

    --ion-color-danger: #2076e5;
    --ion-color-danger-rgb: 32, 118, 229;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #1c68ca;
    --ion-color-danger-tint: #3684e8;

    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }

  ion-datetime {
    --background: #423c3d;
    --background-rgb: 255, 241, 242;
    border-radius: 16px;
    box-shadow: rgba(var(--ion-color-primary-rgb), 0.3) 0px 10px 15px -3px;
  }
}
