<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Appointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-appointment
      *ngFor="let appointment of appointments"
      [appointment]="appointment"
    ></app-appointment>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>La Salsa Ritmos</ion-title>
    <ion-buttons slot="end">
      Make new class appointment
      <ion-fab-button size="small" color="secondary" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
