h1 {
  padding: 1vw;
  text-align: center;
  font-size: 3rem;
}
p {
  padding: 1vw;
  padding-top: 0vw;
  font-size: 1.1rem;
  text-align: justify;
}
ion-card-title {
  color: var(--ion-color-secondary);
}
