<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Our Coaches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop>
  <ion-text color="primary">
    <h1>Our World-Class Coaches</h1>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <img
            src="https://t3.ftcdn.net/jpg/02/68/48/60/360_F_268486078_Cgaux3oFDQALTE5qunK1qMRH1Iqfsfiv.jpg"
          />
          <ion-card-header>
            <ion-card-title>Alice M.</ion-card-title>
            <ion-card-subtitle>Salsa</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            I am a nationally ranked Latin dancer with extensive competition
            experience. Dancing since the age of 12, I have been actively
            competing at the adult level in the U.S. and most recently was
            ranked in the top 17 for USA. Some of my competitive accomplishments
            include placing top 2 at the 2016 Vegas Open Dance Challenge, top 4
            at the 2016 City Lights Ball DanceSport Championships, and top 5 for
            the 2015 Emerald Ball DanceSport Championships.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <img
            src="https://as2.ftcdn.net/v2/jpg/00/85/17/53/1000_F_85175380_JxSWLor107DqZrUDkJeJ6N09cVOmN71W.jpg"
          />
          <ion-card-header>
            <ion-card-title> Belicia Tang</ion-card-title>
            <ion-card-subtitle>Bachata</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            I am a ballroom dance instructor who specializes in wedding dance,
            private event performances, and dance instruction for students
            interested in learning social and competitive partnered dance. I
            started dancing in Ukraine at the age of 5. Upon moving to the
            United States in 2014, I been working in the Bay Area. I have over
            10 years of teaching and training experience, so I am a highly
            qualified instructor in my field.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <img
            src="https://www.nyip.edu/media/zoo/images/how-to-shoot-portraits-in-harsh-sunlight-1_70128fa3c2e95aac6312785f652b5e4d.jpg"
          />
          <ion-card-header>
            <ion-card-title>Whitney James-Hesketts</ion-card-title>
            <ion-card-subtitle>Zumba</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            I am an avid dancer and choreographer and have over 25 years of
            dance and performance experience in many styles including ballet,
            hip hop, jazz, musical theater, salsa, bachata, and ballroom. As a
            teacher, I am very good at seeing exactly what students need to do
            to improve their movement and articulating those things in a way
            even students with no dance background can understand. One of my
            greatest joys is sparking a love for dance in my students and
            watching them improve.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="clearfix"></div>

  <div>
    <p>
      A coach can be many things: a sparring partner, sounding board,
      confidante, mentor and guide. That’s why we match you with the best
      possible coach for the journey you’re on. By pairing you up with someone
      who has travelled this road before, we ensure they can offer you the
      guidance and steady hand you need to reach your goals.
    </p>
    <p>
      All our coaches are trained and certified, in-house, to implement our
      proven leadership coaching process, 360 Feedforward Coaching. Each coach
      also comes to you with more than 15 years of corporate and coaching
      experience across a wide range of industries, so you can rest assured
      knowing you’re in safe hands with an expert leadership coach.It might be a
      person’s choice to be either a teacher or a coach, but sometimes it isn’t.
      There are times in dancesport when a person happens to be “all in one”: a
      coach, a teacher, a parent, a friend, a partner.
    </p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="pageScroller()">
      <ion-icon name="arrow-up-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
