<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/appointments"></ion-back-button>
    </ion-buttons>
    <ion-title>Appointment Detail View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col no-padding size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="white"
              >{{ appointment.date | date: 'dd.MM.yyyy. HH:mm'
              }}</ion-card-title
            >
            <ion-card-subtitle color="white">
              <ion-label *ngIf="appointment.free">FREE</ion-label>
              <ion-label *ngIf="!appointment.free"
                >NOT FREE</ion-label
              ></ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-label>Date: </ion-label>
            <ion-datetime
              color="calendar"
              min="{{currentDate}}"
              displayFormat="dd.MM.yyyy. HH:mm"
              hour-cycle="h23"
              [(ngModel)]="selectedDate"
            ></ion-datetime>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding size-sm="6" offset-sm="3">
        <ion-button
          type="submit"
          color="primary"
          shape="round"
          expand="block"
          (click)="onEditAppointment()"
          >Edit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
